{% extends "base.html" %}
{% block head  %}
register
{% endblock  %}
{% block content %}
<div class="card w-50 " style="margin:80px auto">
    <div class="card-header">
        <h3>REGISTER FORM</h3>
    </div>
<div class="card-body" style="padding:0px">
    <table class="table table-borderless">
    <tbody>
    <form method="POST">
    {% csrf_token %}
    <tr>
        <td><strong class="h5">USERNAME:</strong></td> 
        <td><input type="text" placeholder="enter your name" name="username" required ><br></td>
    </tr>
     <tr>
        <td><strong class="h5">EMAIL:</strong></td> 
        <td><input type="email" placeholder="enter your email" name="email" required><br></td> 
     </tr>
     <tr>
        <td style="display:inline-block"><strong class="h5">PASSWORD:</strong></td> 
        <td ><input type="password" placeholder="enter your password" name="password" required style="margin-right: 200px;"><br></td> 
     </tr>
     <tr>
        <td></td>
     </tr>
     <tr>
        <td><button type="submit" class="btn btn-primary">register</button></td>
     </tr>
</form>
  <tbody>
</table>
</div>
<div class="card-footer">
<a href="{% url 'results'%}" class="btn btn-outline-success">results</a>
<a href="{% url 'login'%}" class="btn btn-outline-primary">login</a>
</div>
</div>
{% endblock %}